<section id="indicators-view" class="mainbar">
  <section class="matter">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2>{{ vm.title }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="favorite in vm.favorites">
              {{ favorite.login }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</section>